# Tyna Environment

# Apps/auth environment variables
# Use apps/auth/.env for local overrides
AUTH_PORT=1000
DATABASE_URL=postgres://user:password@localhost:5432/db
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3001
